* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

#desktop-message{
    display: none;
}

@media (min-width:768px){
    #desktop-message{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;

        height: 100vh;

        text-align: center;
        padding: 2rem;
    }

    #mobile-app{
        display: none;
    }
}